<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.project.mapper.BoardMapper">

	<insert id="register" parameterType="com.project.domain.BoardVO">
		INSERT INTO
			BOARD(BNO, TITLE, CONTENT, WRITER)
		VALUES
			(SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})
	</insert>
	<!--
	<select id="getList" resultType="com.project.domain.BoardVO" parameterType="com.project.domain.BoardVO">
		SELECT
			BNO, TITLE, CONTENT, WRITER, REGDATE, MDFDATE, VIEWCOUNT
		FROM
			BOARD
		ORDER BY
			BNO DESC
	</select>
	 -->
	 <sql id="criteria">
 		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
 			<foreach collection="typeArr" item="type"><!-- getType() 동작 -->
 				<trim prefix="OR">
 					<choose>
		 				<when test="type == 'T'.toString()">
		 					title like '%' || #{keyword} || '%'
		 				</when>
		 				<when test="type == 'W'.toString()">
		 					writer like '%' || #{keyword} || '%'
		 				</when>
		 				<when test="type == 'C'.toString()">
		 					content like '%' || #{keyword} || '%'
		 				</when>
 					</choose>
 				</trim>
 			</foreach>
 		</trim>
 	</sql>
	 
	 <select id="getListWithPaging" resultType="com.project.domain.BoardVO" parameterType="com.project.domain.Criteria">
	 	<![CDATA[
		SELECT
			BNO, TITLE, CONTENT, WRITER, REGDATE, MDFDATE, VIEWCOUNT
		FROM (
		      SELECT /*+INDEX_DESC(board pk_board) */
		      	ROWNUM rn, BNO, TITLE, CONTENT, WRITER, REGDATE, MDFDATE, VIEWCOUNT
		      FROM 
		      	BOARD
		      WHERE
		      ]]>
		      <include refid="criteria"></include>
		      
		      <![CDATA[
			    ROWNUM <= #{pageNum} * #{amount}
			 )
		WHERE
			rn > (#{pageNum} -1) * #{amount}
		]]>
	 </select>
	 
	 <select id="getTotalCount" resultType="int" parameterType="com.project.domain.Criteria">
 		SELECT COUNT(*)	FROM BOARD WHERE
 		
 		<include refid="criteria"></include>
 			
 		BNO > 0 <!-- 검색을 사용하지 않으면 -->
	</select>
	
	<select id="get" parameterType="Long" resultType="com.project.domain.BoardVO">
		SELECT
			BNO, TITLE, CONTENT, WRITER, REGDATE, MDFDATE
		FROM
			BOARD
		WHERE
			BNO = #{bno}
	</select>
	
	<update id="modify" parameterType="com.project.domain.BoardVO">
		UPDATE
			BOARD
		SET
			TITLE = #{title}, CONTENT = #{content}, MDFDATE = SYSDATE
		WHERE
			BNO = #{bno};
	</update>
	
</mapper>